<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/wwwroot/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/wwwroot/index.js"></script>
</head>
Behind
<p><input type="button" value="连接" id="btn_socket_connect"/></p>
<p><input type="button" value="发送" id="btn_socket_send"/>：<input type="text" id="txt_send_value" value=""/></p>
<p><input type="button" value="断开" id="btn_socket_close"/></p>
<p><label for="txt_receive_value">接收： <input type="text" value="" id="txt_receive_value"></label></p>
</body>
<script>
</script>
</html>